In [181]:
# import libraries
import pandas as pd
import numpy as np
from sklearn import linear_model, model_selection, metrics
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn import preprocessing
import pydotplus
from IPython.display import Image

In [182]:
# view dataset
medi_data = pd.read_csv('full_cohort_data.csv')
medi_data.head()

,aline_flg,icu_los_day,hospital_los_day,age,gender_num,weight_first,bmi,sapsi_first,sofa_first,service_unit,...,platelet_first,sodium_first,potassium_first,tco2_first,chloride_first,bun_first,creatinine_first,po2_first,pco2_first,iv_day_1
0,1,7.63,13,72.36841,1.0,75.0,29.912791,15.0,9.0,SICU,...,354.0,138.0,4.6,15.0,109.0,41.0,1.6,196.0,39.0,2230.875000
1,0,1.14,1,64.92076,0.0,55.0,20.121312,NaN,5.0,MICU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,600.000000
2,0,2.86,5,36.50000,0.0,70.0,27.118272,16.0,5.0,MICU,...,295.0,144.0,3.9,17.0,101.0,16.0,0.8,298.0,30.0,2086.800293
3,1,0.58,3,44.49191,0.0,NaN,NaN,21.0,7.0,SICU,...,262.0,139.0,4.2,31.0,100.0,16.0,0.5,146.0,23.0,NaN
4,1,1.75,5,23.74217,1.0,95.2,28.464563,18.0,7.0,SICU,...,22.0,146.0,3.4,19.0,110.0,10.0,1.0,134.0,30.0,2358.244141

In [183]:
medi_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1776 entries, 0 to 1775
Data columns (total 46 columns):
aline_flg             1776 non-null int64
icu_los_day           1776 non-null float64
hospital_los_day      1776 non-null int64
age                   1776 non-null float64
gender_num            1775 non-null float64
weight_first          1666 non-null float64
bmi                   1310 non-null float64
sapsi_first           1691 non-null float64
sofa_first            1770 non-null float64
service_unit          1776 non-null object
service_num           1776 non-null int64
day_icu_intime        1776 non-null object
day_icu_intime_num    1776 non-null int64
hour_icu_intime       1776 non-null int64
hosp_exp_flg          1776 non-null int64
icu_exp_flg           1776 non-null int64
day_28_flg            1776 non-null int64
mort_day_censored     1776 non-null float64
censor_flg            1776 non-null int64
sepsis_flg            1776 non-null int64
chf_flg               1776 non-null int64
afib_flg              1776 non-null int64
renal_flg             1776 non-null int64
liver_flg             1776 non-null int64
copd_flg              1776 non-null int64
cad_flg               1776 non-null int64
stroke_flg            1776 non-null int64
mal_flg               1776 non-null int64
resp_flg              1776 non-null int64
map_1st               1776 non-null float64
hr_1st                1776 non-null int64
temp_1st              1773 non-null float64
spo2_1st              1776 non-null int64
abg_count             1776 non-null int64
wbc_first             1768 non-null float64
hgb_first             1768 non-null float64
platelet_first        1768 non-null float64
sodium_first          1771 non-null float64
potassium_first       1771 non-null float64
tco2_first            1771 non-null float64
chloride_first        1771 non-null float64
bun_first             1771 non-null float64
creatinine_first      1770 non-null float64
po2_first             1590 non-null float64
pco2_first            1590 non-null float64
iv_day_1              1633 non-null float64
dtypes: float64(22), int64(22), object(2)
memory usage: 638.3+ KB

In [184]:
# Data Cleaning
mean_bmi=medi_data["bmi"].mean()
temp_mean=medi_data['temp_1st'].mean()
medi_data['bmi'].fillna(mean_bmi,inplace=True)
medi_data['temp_1st'].fillna(temp_mean,inplace=True)
medi_data['gender_num'].fillna(0,inplace=True)

In [185]:
# column selection
y = medi_data['renal_flg']
medi_data.drop(['aline_flg','icu_los_day','hospital_los_day','weight_first','sapsi_first', 'sofa_first','service_unit','service_num','day_icu_intime','day_icu_intime_num','hour_icu_intime','hosp_exp_flg','icu_exp_flg','day_28_flg','mort_day_censored','censor_flg','sepsis_flg','chf_flg','afib_flg','renal_flg','liver_flg','copd_flg','cad_flg','stroke_flg','mal_flg','resp_flg','spo2_1st','abg_count','wbc_first','hgb_first','platelet_first','sodium_first','potassium_first','tco2_first','chloride_first','bun_first','creatinine_first','po2_first','pco2_first','iv_day_1'],axis=1, inplace=True)
X = medi_data

In [186]:
# Create decision tree classifier 

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=99)

In [26]:
# Test 
y_pred = tree_model.predict(X_test)

In [27]:
# Accuracy
tree_model.score(X_test,y_test)

0.9662921348314607

In [114]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train, y_train)
y2_pred=model.predict(X_test)
model.score(X_test,y_test)

0.8848314606741573

In [187]:
from sklearn import svm
model2=svm.SVR()
model2.fit(X_train, y_train)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
  gamma='auto_deprecated', kernel='rbf', max_iter=-1, shrinking=True,
  tol=0.001, verbose=False)

In [188]:
import pickle
filename = 'renal_infection.pkl'
pickle.dump(model2, open(filename, 'wb'))

In [189]:
filename = 'renal_infection.pkl'
loaded_model = pickle.load(open(filename, 'rb'))
data_input = [75.80626,0,39.41814266,92.33329773,92,95.6]
loaded_model.predict([data_input])

array([0.09987762])